extends ../base
 
block content 
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl, crossorigin)
        div#videoControls.videoControls
            div.videoControls_play
                span#play.videoControls_playBtn
                    i.fas.fa-play
                div.videoControls_time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls_timeline
            div.videoControls_volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute 
                    i.fas.fa-volume-up
            div.videoControls_screen
                span#fullScreen
                    i.fas.fa-expand     
    div.video_info 
        span.video_title=video.title
        small.video_hashtags=video.hashtags
        p.video_description=video.description
        small.video_createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: "long", year: "numeric", month: "long", day: "numeric"}) 
        small.video_uploader Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.username        
        if String(video.owner._id) === String(loggedInUser._id)
            a.video_edit(href=`${video.id}/edit`) Edit Video &rarr;
    if loggedIn 
        div.video_add_comments
            form.video_comments_addForm#commentForm
                textarea( rows="10", placeholder="Comment Here...")
                button Add Comment
    div.video_comments
        ul.video_comments_list
            each comment in video.comments.reverse()
                li.video_comment(data-id=comment.id)
                    i.fas.fa-comment
                    span  #{comment.text}
                    if String(comment.owner._id) === String(loggedInUser._id)
                        span.deleteBtn ❌
block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")
